basic/wiki.txt
basic/encoded_data.pt
basic/models/llm1.pt
basic/models/llm2.pt
/basic/.ipynb_checkpoints
/basic/wandb
.ipynb_checkpoints/small_llm_official-checkpoint.ipynb
Untitled.ipynb
/.ipynb_checkpoints
/basic/.ipynb_checkpoints
/align/.ipynb_checkpoints
*.pt
*.arrow
*.log
*.wandb
/wandb
/align/wandb
/align/__pycache__
/align/data
